
form {
    padding: 1em;
}

.form-section {
    margin-bottom: 1em;
    display: flex;
}

.form-section label {
    min-width: 60px;
}

.form-section input {
    width: 100%;
}

.input-note {
    margin-bottom: 1em;
}